.Project {
    width: 100%;
    margin-bottom: 8rem;
}

.Project .project-image {
    height: 36.5rem;
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
 
.Project .project-image:hover {
    opacity: 0.8;
}

.Project .project-technologies {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
}

.Project .technologies-container {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Project .technologies-each {
    list-style: none;
    font-size: 2rem;
    line-height: 2.6rem;
}

.Project #made-with {
    font-size: 1.6rem;
}

@media (min-width: 900px) {
    .Project {
        height: 55rem;
        width: 63rem;
        margin-bottom: 13rem;
    }

    .Project .project-image {
        height: 36.5rem;
        width: 63rem;
    }

    .Project .project-technologies {
        padding: 9rem;
    }
}