.MainPage {
    width: 100%;
    padding: 0 10px;
}

.MainPage .name, .MainPage .job-location {
    font-size: 30px;
    font-weight: 700;
}

.MainPage .name {
    margin-top: 100px;
}

.MainPage .job-location {
    margin-bottom: 100px;
}

.MainPage .project-name {
    font-size: 26px;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 15px;
}

.MainPage .project-description {
    margin-bottom: 17px;
    color: #B2B2B2;
    font-size: 18px;
    width: 100%;
}

.MainPage .project-links {
    display: flex;
}

.MainPage .footer {
    font-weight: 600;
    margin-bottom: 20px;
}


@media (min-width: 900px) {
    .MainPage {
        text-align: left;
        padding: 20px 100px;
    }

    .MainPage .name, .MainPage .job-location {
        font-size: 60px;
        font-weight: 500;
    }

    .MainPage .job-location {
        margin-bottom: 200px;
    }

    .MainPage .project-name {
        font-size: 32px;
    }

    .MainPage .project-description {
        font-size: 20px;
        width: 474px;
    }
}