.NavBar {
    width: 100%;
    margin: 4rem auto;
    text-align: center;
    font-size: 1.6rem;
}

.NavBar a {
    text-decoration: none;
    color: black;
    margin: 0 1.8rem;
    font-weight: 600;
}

@media (min-width: 900px) {
    .NavBar {
        text-align: right;
        margin: 5.4rem 3rem;
        margin-right: 3rem;    
    }  
}