body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.flexed_row {
  display: flex;
  flex-direction: row;
}

.flexed_column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
}

.aligned {
  align-items: center;
}

.space_evenly {
  justify-content: space-evenly;
}